:root[data-theme="dark"] {
  --bg: #242429;
  --text: #ffffff;
  --border: #62626e;
  --accent: #f0a000;
  --accent-hover: #ffc247;
  --selected: #f0f0f0;

  --correct: #00d37e;
  --incorrect: #f93822;
  --selected-text: #242429;
  --trans-fast: 0.1s ease-out;
}

:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #242429;
  --border: #a0a0a0;
  --accent: #f0a000;
  --accent-hover: #e09000;
  --selected: #242429;

  --correct: #00d37e;
  --incorrect: #f93822;
  --selected-text: #ffffff;
  --trans-fast: 0.1s ease-out;
}

/* :root {
  --bg: #fbfaf8;
  --text: #1a1a1a;
  --border: #1a1a1a;
  --accent: #ffc700;
  --accent-hover: #ff9a00;
  --selected: #1a1a1a;
  --selected-text: #ffffff;

  --correct: #00d37e;
  --incorrect: #f93822;

  --trans-fast: all 0.15s ease-out;
} */

@media (prefers-color-scheme: dark) {
  /* :root {
    --bg: #1f1f1f;
    --text: #f0f0f0;
    --border: #62626e;
    --selected: #f0f0f0;
    --selected-text: #242429;
  } */

  #quiz-submit {
    box-shadow: 5px 5px 0 var(--text) !important;
  }

  .quiz-option[selected="true"] {
    box-shadow: 3px 3px 0 var(--accent-hover) !important;
  }
}

body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 720px;
  padding: 24px;
}
